<div class="cmt" *ngFor="let data of commentOfPost">
	<div class="avatar">
		<img src="{{data.avatar}}" />
	</div>
	<div class="comment">
		<div class="user-infor">
			<span class="username">{{data.username}}</span>
			<span class="time">{{data.createdAt | timeAgo}}</span>
		</div>
		<div class="content">{{data.content}}</div>
	</div>
</div>
<div class="my-comment">
	<div class="avatar">
		<img src="{{avatar}}"/>
	</div>
	<mat-form-field  class="comment-content">
		<textarea  #commentInput (keydown.enter)="onEnterComment($event)" matInput placeholder="Bình luận..."></textarea>
	</mat-form-field>
</div>
<div class="more" *ngIf="comment?.hasNext" (click)="loadMore()">Xem thêm bình luận</div>
