<div class="header">

</div>
<div class="body">
    <div class="information">
        <div class="intro">
            <div class="title">Giới thiệu</div>
            <div class="break-line"></div>
            <div class="sex"><span class="material-icons">person</span> Giới tính: {{user.gender ? 'Nam' : 'Nữ'}}</div>
            <div class="hometown"><span class="material-icons">home_work</span>Quê quán: </div>
            <div class="address"><span class="material-icons">location_city</span>Tỉnh, thành phố hiện tại: </div>
        </div>
    </div>
    <div class="post">
        <apps-new-post-panel-component></apps-new-post-panel-component>
        <ng-template #loading>
            <mat-spinner class="loading" mode="indeterminate"></mat-spinner>
        </ng-template>
        <ng-container *ngIf="postData else loading">
            <apps-post-component *ngFor="let data of postData" [post]="data" (update)="onUpdatePostData()">
            </apps-post-component>
        </ng-container>
        <div class="not-found" *ngIf="!hasNext">
            Đã hết bài viết mới, vui lòng &nbsp;<a href="timeline/{{userId}}">tải lại trang </a>
        </div>
    </div>
</div>