
apps-report-dialog-component {
    .header {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 22px;
            text-align: center;
        }
        .material-icons {
            cursor: pointer;
            color: #6fbe44!important;
            &:hover {
                background-color:#d5edca;
            }
        }
    }
    .break-line {
        margin: 16px -16px 28px -16px;
        border-bottom: 1px solid #eee;
    }
    .body {
        mat-form-field {
            width: 100%;
        }
        .date-time {
            display: flex;
            margin: 12px 0;
            .time {
                height: 51px;
                margin-right: 12px;
                width: 130px;
                border: none;
                background: whitesmoke;
                border-bottom: 1px solid;
            }
            .date {
                width:60%;
            }
        }
    }
    .note {
        font-weight: bold;
    }
    .footer {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        button {
            width: 80%;
            background-color: #ECF7E7;
            color: #6fbe44!important;
            &:hover {
                background-color:#d5edca;
            }
        }
    }
}

.mat-snack-bar-container  {
    margin-bottom: 140% !important;
    .mat-simple-snackbar {
        justify-content: center !important;
    }
    &.error {
        color: red !important;
    }
    &.success {
        color: #6fbe44 !important;
    }
}