<nav mat-tab-nav-bar mat-align-tabs="center" *ngIf="router.url != '/login'">
	<div class="logo" (click)="onClickIndex()" [routerLink]="'/'" >
		<img src="/assets/logo.png" />
	</div>
	<div class="center">
		<a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
			[active]="rla.isActive" (click)="link.label == 'home' ? onClickIndex() : null">
			<span class="material-icons">
				{{link.label}}
			</span>
		</a>
	</div>
	<div class="right-header">
		<div class="notification-container" (click)="clearNotiCount()"[matMenuTriggerFor]="menu">
			<span class="material-icons" [matBadgeHidden]="countNoti == 0" [matBadge]="countNoti" matBadgeColor="warn">
				notifications
			</span>
			<mat-menu class="notification-menu" #menu="matMenu">
				<div class="notification" *ngFor="let noti of notifications" (click)="onClickPost(noti)">
					<div class="avatar">
						<img src="{{noti.avatar}}">
					</div>
					<div class="info">
						<div class="content">{{noti.message}}</div>
						<div class="time-ago">{{noti.createdAt | timeAgo}}</div>
					</div>
				</div>
			</mat-menu>
		</div>
		<div class="more-setting">
			<span class="material-icons" [matMenuTriggerFor]="menuPersonal">
				arrow_drop_down
			</span>
			<mat-menu class="personal-info" #menuPersonal="matMenu">
				<div class="info">
					<div class="avatar">
						<img src="{{user.avatar}}">
					</div>
					<div class="username" (click)="directToTimeline()">
						{{user.username}}
					</div>
				</div>
				<div class="break-line"></div>
				<div class="setting">
					<div class="profile">
						<span class="material-icons">
							settings
						</span><span>Thông tin cá nhân</span>
					</div>
					<div class="logout" (click)="logout()">
						<span class="material-icons">
							login
						</span><span>Đăng xuất</span>
					</div>
				</div>
			</mat-menu>
		</div>
	</div>
</nav>