<div class="overlay" *ngIf="loading">
	<mat-spinner class="loading" mode="indeterminate"></mat-spinner>
</div>
<div class="header">
	<span></span>
	<span class="title">
		Tạo sự kiện mới
	</span>
	<span class="material-icons" (click)=onClose()>
		cancel
	</span>

</div>
<div class="break-line"></div>
<form [formGroup]="form" (submit)="submit()">
	<div class="body" mat-dialog-content>
        <div class="second-user">Người dùng được mời: </div>

        <div class="date-time">
            <input class="time" type="time" atp-time-picker/>
            <mat-form-field class="date" color="accent" appearance="fill">
                <mat-label>Chọn ngày</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
        </div>
	</div>
	<div class="footer">
		<button mat-stroked-button color="primary" type="submit">Tạo sự kiện</button>
	</div>
</form>
