apps-home-view-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #cccccc;
    flex-direction: column;
    .loading {
        width: 60px !important;
        height: 60px !important;
        margin: 12px;
        margin-left: auto;
        margin-right: auto;
        svg {
            width: 60px !important;
            height: 60px !important;
            circle {
                stroke-width: 5%;
                stroke: #6fbe44;
            }
        }
        
    }
}