<div class="chat-dialog">
    <div class="header">
        <span class="username">{{data.username}}</span>
        <span class="close" (click)="close()"><span class="material-icons"> cancel </span></span>
    </div>
    <div class="content" #chatContent>
        <div *ngFor="let item of messageData">
            <div class="user-1" *ngIf="this.data.id === item.entry.from">
                <img src="{{avatar}}">
                <div class="message-1">{{item.entry.message}}</div>
            </div>
            <div class="message-2" *ngIf="this.data.id !== item.entry.from">{{item.entry.message}}</div>
        </div>
       
    </div>

    <div class="break-line"></div>
    <div class="footer">
        <input class="chat-input" #chatInput (keydown.enter)="onEnterMessage($event)" placeholder="Trả lời">
        <span class="material-icons send-icon">send</span>
    </div>
</div>