apps-chat-dialog-component {
    margin: 8px 12px 8px 12px;
    background-color: #fff;
	height: 400px;
    position: sticky;
    top: 58px;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
}