<div class="header">
	<span></span>
	<span class="title" *ngIf="!data.isEdited">
		Tạo điểm mới
	</span>
	<span class="title" *ngIf="data.isEdited">
		Sửa điểm
	</span>
	<span class="material-icons" (click)=onClose()>
		cancel
	</span>

</div>
<div class="break-line"></div>
<div class="card-body">
	<form #userForm="ngForm" (ngSubmit)="submit(userForm)" class="form-horizontal">
	  <div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">Tên</label>
		<div class="col-md-9">
		  <input type="text" id="text-input" name="actionName" [(ngModel)]="data.actionName" required #actionName="ngModel" class="form-control">
		</div>
      </div>
      <div class="form-group row">
		<label class="col-md-3 col-form-label" for="text-input">Điểm</label>
		<div class="col-md-9">
		  <input type="text" id="text-input" name="point" [(ngModel)]="data.point" required #point="ngModel" class="form-control">
		</div>
	  </div>
	  <div class="card-footer">
		<button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Sửa</button>
	  </div>
	</form>
  </div>

