apps-admin-report-table {
    @import "~@coreui/coreui/scss/coreui";
    @import "~@coreui/coreui/scss/variables";
    .app-body {
        background-color: #e4e5e6;
    }
    table {
        width: 142% !important;
        .btn {
            padding-left: 0 !important;
        }
    }
    .detail-post {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: #6fbe44;
        }
    }
    .page-link {
        color: #20a8d8;
        &:hover {
            cursor: pointer;
        }
    }
}