@import '../../scss/variable.scss';

apps-post-component {
    margin: 8px;
    width: 570px;
    .avatar {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    mat-card-header {
        .more {
            margin-left: auto;
        }
    }
    .type-business:before {
        left: 229px;
    }
    mat-card-content {
        padding: 16px;
        .type-business {
        }
        .information {
            font-size: 18px;
            div {
                padding: 5px;
            }
            .title {
                font-weight: 500;
            }
        }
        .break-line-small {
            margin: 12px 0 12px 0;
            border-bottom: 1px solid #eee;
        }
        .description {
            word-break: break-all;
        }
    }
    .break-line {
        margin: 0 -16px 0 -16px;
        border-bottom: 1px solid #eee;
    }
    .btn-group {
        padding: 0px 32px 0 32px;
        display: flex;
        position: relative;
        justify-content: space-between;
    }

}

@media only screen and (max-width: 600px) {
    apps-post-component {
        margin: 8px;
        width: 390px;
    }
}
