@import '../../scss/variable.scss';

apps-post-component {
    margin: 4px;
    width: 570px;
    .avatar {
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .username {
        mat-card-title {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .mat-card-subtitle {
        font-size: 12px;
    }
    .mat-button {
        width: 140px;
    }
    mat-card-header {
        .more {
            margin-left: auto;
        }
    }
    .type-business:before {
        left: 229px;
    }
    mat-card-content {
        padding: 16px 16px 0;
        .type-business {
        }
        .information {
            font-size: 18px;
            .address, .district {
                font-size: 14px;
                display: flex;
                align-items: flex-end;
            }
            div {
                padding: 5px;
            }
            .title {
                font-weight: 500;
                word-break: break-all;
                display: flex;
                align-items: flex-end;
            }
            .priceFrom, .priceTo, .price {
                font-size: 16px;
                display: flex;
                align-items: flex-end;
            }
        }
        .images-list {
            display: block;
            flex-direction: row;
            img {
                max-width:100%;
                max-height:100%;
                &:nth-child(1) {
                    max-width:99% !important;
                }
            }
            
        }
        .break-line-small {
            margin: 12px 0 12px 0;
            border-bottom: 1px solid #eee;
        }
        .description {
            word-break: break-all;
            margin-bottom: 12px;
        }
    }
    .statictis {
        display: flex;
        align-items: flex-end;
        margin: 6px;
      
        .like {
            display: flex;
            .like-amount {
                padding-bottom: 1px;
                margin-top: 3px;
            }
        }
    }
  
    .break-line {
        margin: 0 -16px 0 -16px;
        border-bottom: 1px solid #eee;
    }
    .btn-group {
        padding: 0px 24px 0 24px;
        display: flex;
        position: relative;
        justify-content: space-between;
    }
    .material-icons {
        margin-right: 5px;
        color: #6fbe44;
    }
    .tag {
        position: absolute;
        background-color: rgba(111, 190, 68, 0.70);
        z-index: 100;
        width: 90px;
        margin-top: 94px;
        margin-left: -73px;
        text-align: center;
        font-size: 16px;
        padding: 6px;
    }
}

@media only screen and (max-width: 600px) {
    apps-post-component {
        margin: 8px;
        width: 390px;
    }
}
.tooltip-like {
    white-space: pre-line;
    font-size: 13px;
}
