<mat-card>
	<mat-card-header>
		<div mat-card-avatar class="avatar">
			<img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
		</div>
		<div class="username">
			<mat-card-title>{{post.username}}</mat-card-title>
			<mat-card-subtitle>16 phút trước</mat-card-subtitle>
		</div>
		<button class="more" mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="onEdit()">
				<mat-icon>edit</mat-icon>
				<span>Sửa</span>
			</button>
			<button mat-menu-item>
				<mat-icon>report_problem</mat-icon>
				<span>Báo cáo bài viết</span>
			</button>
			<button mat-menu-item (click)="onDelete()">
				<mat-icon>delete</mat-icon>
				<span>Xóa</span>
			</button>
		</mat-menu>
	</mat-card-header>
	<div class="type-business">
	</div>
	<mat-card-content>
		<div class="information">
			<div class="title"><span class="material-icons">
					campaign
				</span>{{post.title}}</div>
			<div class="price" *ngIf="post.price"><span class="material-icons">
					local_atm
				</span>{{post.price | vndCurrency}}</div>
				<div class="priceFrom" *ngIf="post.priceFrom"><span class="material-icons">
					local_atm
				</span>{{post.priceFrom | vndCurrency}} - {{post.priceTo | vndCurrency}}</div>
			<div class="address"><span class="material-icons">
					place
				</span>{{post.address}}</div>
			<div class="district"><span class="material-icons">
					my_location
				</span>{{post.district}}</div>
		</div>
		<div class="break-line-small"></div>
		<div class="description">
			{{post.description}}
		</div>
		<div class="images-list">
			<div #images></div>
		</div>
		<div class="like_amount">

		</div>
	</mat-card-content>
	<div class="break-line"></div>
	<div class="btn-group">
		<button mat-button> <span class="material-icons">
				thumb_up_alt
			</span>Thích</button>
		<button mat-button><span class="material-icons">
			comment
			</span>Bình luận</button>
		<button mat-button><span class="material-icons">
			share
			</span>Chia sẻ</button>
	</div>
	<div class="break-line"></div>
	<apps-comment-component [postId]="post.id"></apps-comment-component>
	
</mat-card>