apps-admin-recommend-table {
    .row {
        margin-left: 30px;
        margin-top: 16px;
    }
    .table-2 {
    }
    .new-btn {
        width: 200px !important;
        margin-top: 25px;
        margin-left: 5px;
    }
    tr:hover {
        cursor: pointer;
    }
    .page-link {
        color: #20a8d8;
        &:hover {
            cursor: pointer;
        }
    }
}