<div class="header">
	<span></span>
	<span class="title">
		Tạo bài viết mới
	</span>
	<span class="material-icons" (click)=onClose()>
		cancel
	</span>

</div>
<div class="break-line"></div>
<form [formGroup]="form" (submit)="submit()">
	<div class="body" mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-label>Thể loại cần đăng</mat-label>
			<mat-select [ngModel]="data.typeBusiness" (selectionChange)="onChangeTypeBusiness()"
			 formControlName="typeBusiness"  required>
				<mat-option *ngFor="let type of typeBusiness" [value]="type.value">
					{{type.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="">
			<input matInput [ngModel]="data.title" formControlName="title" placeholder="Tiêu đề" required>
		</mat-form-field>
		<mat-form-field >
			<mat-label>Loại tài sản</mat-label>
			<mat-select  [ngModel]="data.typeProperty" formControlName="typeProperty" required>
				<mat-option  *ngFor="let type of typeProperty" [value]="type.value">
					{{type.name}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field class="">
			<input [ngModel]="data.area" matInput formControlName="area" placeholder="Diện tích" required>
			<span matSuffix>m2 &nbsp;</span>
		</mat-form-field>
		<mat-form-field *ngIf="isPrice">
			<input type="number" [ngModel]="data.price" formControlName="price" matInput  placeholder="Giá">
		</mat-form-field>
		<mat-form-field *ngIf="!isPrice">
			<input type="number" [ngModel]="data.priceFrom" formControlName="priceFrom" matInput  placeholder="Giá thấp nhất">
		</mat-form-field>
		<mat-form-field *ngIf="!isPrice">
			<input type="number" [ngModel]="data.priceTo" formControlName="priceTo" matInput  placeholder="Giá cao nhất">
		</mat-form-field>
		<mat-form-field class="">
			<input matInput [ngModel]="data.address" formControlName="address" placeholder="Địa chỉ">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Quận</mat-label>
			<mat-select [ngModel]="data.district" formControlName="district" required>
				<mat-option *ngFor="let dist of districts" [value]="dist">
					{{dist}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<textarea matInput [ngModel]="data.description" formControlName="description" placeholder="Mô tả"></textarea>
		</mat-form-field>
		<mat-form-field>
			<ngx-mat-file-input formControlName="images" [multiple]="true" [accept]="'image/*'" placeholder="Đăng ảnh"></ngx-mat-file-input>
			<mat-icon ngxMatFileInputIcon>perm_media
			</mat-icon>
		</mat-form-field>
	</div>
	<div class="footer">
		<button *ngIf="!data.isEdited" mat-stroked-button color="primary" type="submit">Đăng bài</button>
		<button *ngIf="data.isEdited" mat-stroked-button color="primary" type="submit">Sửa bài</button>
	</div>
</form>