
apps-post-dialog-component {
    .header {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 22px;
            text-align: center;
        }
        .material-icons {
            cursor: pointer;
            color: #6fbe44!important;
            &:hover {
                background-color:#d5edca;
            }
        }
    }
    .break-line {
        margin: 16px -16px 28px -16px;
        border-bottom: 1px solid #eee;
    }
    .body {
        mat-form-field {
            width: 100%;
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        button {
            width: 80%;
            background-color: #ECF7E7;
            color: #6fbe44!important;
            &:hover {
                background-color:#d5edca;
            }
        }
    }
    
}