<div class="utility">
    <div class="map-tool">
        <mat-form-field class="type-business">
            <mat-label>Thể loại cần tìm</mat-label>
            <mat-select
             formControlName="typeBusiness">
                <mat-option *ngFor="let type of typeBusiness" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="type-property">
            <mat-label>Loại tài sản</mat-label>
            <mat-select formControlName="typeProperty">
                <mat-option  *ngFor="let type of typeProperty" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <apps-button-component [title]="'Xóa hình đã vẽ'"></apps-button-component>
    </div>
    <div class="break-line"></div>
    <div class="post-list">
        <div class="post" *ngFor="let i of [1,2,3,4,55,6,7,8,9]">
            <div class="avatar">
                <img src="">
            </div>
            <div class="info">
                <div class="title">
                    <span class="material-icons">
                        campaign
                    </span>Cho thuê căn hộ chung cư 8x plus
                </div>
                <div class="price">
                    <span class="material-icons">
                        local_atm
                    </span> {{20000000 | vndCurrency}}
                </div>
                <div class="address">
                    <span class="material-icons">place
                    </span> 43 Lý Thái Tổ
                 </div>
                <div class="district">
                    <span class="material-icons">
                        my_location
                    </span> Quận Bình Thạnh
                </div>
            </div>
        </div>
    </div>
</div>
<div #mapContainer class="map"></div>