<div class="utility">
    <div class="map-tool">
        <mat-form-field class="type-business">
            <mat-label>Thể loại cần tìm</mat-label>
            <mat-select
             (selectionChange)="onChangeTypeBusiness($event)" >
                <mat-option *ngFor="let type of typeBusiness" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="type-property">
            <mat-label>Loại tài sản</mat-label>
            <mat-select (selectionChange)="onChangeTypeProperty($event)">
                <mat-option  *ngFor="let type of typeProperty" [value]="type.value">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="price-min">
            <input #priceMin (keyup)="formatMinCurrency($event)" (change)="onChangePriceMin($event)" matInput  placeholder="Giá thấp nhất">
        </mat-form-field>
        <mat-form-field class="price-max">
            <input #priceMax (keyup)="formatMaxCurrency($event)" (change)="onChangePriceMax($event)" matInput  placeholder="Giá cao nhất">
        </mat-form-field>
        <apps-button-component (click)="clearDrawing()" [title]="'Xóa hình'"></apps-button-component>
    </div>
    <div class="break-line"></div>
    <div class="post-list">
        <div class="post" *ngFor="let item of this.drawingManager.result" (click)="navigateToPost(item.id)">
            <div class="avatar">
                <img src="{{item.images[0] || 'https://timviec365.vn/pictures/images/b%C4%91s-la-gi-1.jpg'}}">
            </div>
            <div class="info">
                <div class="title">
                    <img class="material-icons" src="assets/images/title.png">{{item.title}}
                </div>
                <div class="price" *ngIf="isTypeBS13(item)"><img class="material-icons" src="assets/images/money.png">
                    <span>{{item.price | vndCurrency}}</span></div>
			<div class="priceFrom" *ngIf="!isTypeBS13(item)"><img class="material-icons" src="assets/images/money.png"><span>{{item.priceFrom | vndCurrency}} - {{item.priceTo | vndCurrency}}</span></div>
                <div class="address">
                    <img class="material-icons" src="assets/images/address.png"> {{item.address}}
                 </div>
                <div class="district">
                    <img class="material-icons" src="assets/images/district.png"> {{item.district}}
                </div>
            </div>
        </div>
    </div>
</div>
<div #mapContainer class="map"></div>